body {
	background: #CFC8C6 ;

}

.myList {
	background: white !important;
}

.myMenu {
	background: #355383 !important;
}

.nav {
	background: #355383 !important;
  .text {
    color: #C6C96D;
  }

  &:hover {
    background: #C6C96D !important;
    .text {
      color: #355383;
    }
  }
}

<<<<<<< HEAD
.content {
	font-size: 17px !important;
}

.text {
	color: black ;
}

=======
>>>>>>> d80810cfa4a4fea18faffc86be4e2a355350433c
.profilegrid {
  background: #fff;
  border: 15px solid white !important;
}



.gsc-search-button-v2 {
    display: none !important;
    background: green !important;
}

.gsc-input {
	background: white !important;
	padding: 0 !important;	
}

.gsc-control-cse-en {
	padding: 0 !important;
}

.gsc-search-box {
	margin: 0 !important;
}




/* =============================
  Nightmode
  ==============================
*/

.nightmode {
    .nav {
      background: #4183c4 !important;
      &:hover {
        background: #99c0ff !important;
      }
    }

    .myMenu {
      background: #4183c4 !important;
    }

	.ui {
		background: #2d3143;

		.date {
		  background: #2d3143;
		}

        .content {
		  a {
		    color: #3f92e4;
		  }

		  div {
		    color: white !important;
		  }
		}

		.meta {
		   color: white !important;
		   a {
		     color: white !important;
		   }
		}

		.thumbs {
		  color: white !important;
		}

		.divider {
		  background: white !important;
		}
	}

	.ui.segment {
		background: #2d3143;
		border: 1px solid white !important;
	}

  .profilegrid {
    background: #2d3143;
    border: 15px solid #2d3143 !important;
  }

}
<<<<<<< HEAD
=======



>>>>>>> d80810cfa4a4fea18faffc86be4e2a355350433c
