body {
	background: #d9d9d9 ;
}

.myList {
	background: white !important;
}

.myMenu {
	background: #ff6600 !important;
}

.nav { 
	background: #ff6600 !important;
  &:hover {
    background: #ffc299 !important;
  }
}

.text {
	color: black ;
}

.nightmode {
    .nav {
      background: #4183c4 !important;
      &:hover {
        background: #99c0ff !important;
      }
    }

    .myMenu {
      background: #4183c4 !important;
    }

	.ui {
		background: #2d3143;

		.date {
		  background: #2d3143;
		}

        .content {
		  a {
		    color: #3f92e4;
		  }

		  div {
		    color: white !important;
		  }
		}

		.meta {
		   color: white !important;
		   a {
		     color: white !important;
		   }
		}

		.thumbs {
		  color: white !important;
		}

		.divider {
		  background: white !important;
		}
	}

	.ui.segment {
		background: #2d3143;
		border: 1px solid white !important;
	}
}